* {
    box-sizing: border-box;
}

body {
    padding: 10% 0;
}

h1 {
    font-weight: bold;
}

#login-container {
    max-width: 600px;
    margin: 0 auto;
    border: 2px solid #ccc;
    padding: 20px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 2px 2px 2px #dedede;
}

.input {
    margin: 15px 0;
    overflow: auto;
}

.input-group {
    width: 100%;
}

input[type="submit"]{
    width: 37%;
    display: block;
}
