h1(class="page-title") MXPanel
div(id="password-modification-container" class="page-header")
    h1 Password Modification
    hr
    form(id="password-change")
        div(class="input-group")
            input(type="email" class="form-control" placeholder="Email" id="password" name="password" ng-model="password")
            span(class="input-group-addon") @
        div(class="input-group")
            input(type="password" class="form-control" placeholder="Old Password")
            span(class="input-group-addon")
                i(class="fa fa-key fa-fw")
        div(class="input-group")
            input(type="password" class="form-control" placeholder="New Password")
            span(class="input-group-addon")
                i(class="fa fa-key fa-fw")
        div(class="input-group")
            input(type="password" class="form-control" placeholder="Password Repeat")
            span(class="input-group-addon")
                i(class="fa fa-key fa-fw")
        
        div(class="input")
            input(type="submit" class="btn btn-success" value="Change Password")
