h1(class="page-title") MXPanel
div(ng-controller="changePasswordController" id="password-modification-container" class="page-header")
    h1 Password Modification
    hr
    div(id="errorChangingPassword" ng-click="hideError();" class="alert alert-warning alert-dismissible" role="alert" style="display: none;")
        button(type="button" class="alert close" aria-label="Close")
            span(aria-hidden="true") &times;
        strong Warning!
        span(id="errorText")
    form(id="password-change")
        div(class="input-group")
            input(type="email" class="form-control" placeholder="Email" ng-model="email")
            span(class="input-group-addon") @
        div(class="input-group")
            input(type="password" class="form-control" placeholder="Old Password" ng-model="oldPassword")
            span(class="input-group-addon")
                i(class="fa fa-key fa-fw")
        div(class="input-group")
            input(type="password" class="form-control" placeholder="New Password" ng-model="newPassword")
            span(class="input-group-addon")
                i(class="fa fa-key fa-fw")
        div(class="input-group")
            input(type="password" class="form-control" placeholder="Password Repeat" ng-model="newPasswordConf")
            span(class="input-group-addon")
                i(class="fa fa-key fa-fw")
        
        div(class="input")
            input(type="submit" class="btn btn-success" value="Change Password" ng-click="changePassword()")
