div(id="login-container" class="page-header")
    h1 Connection
    hr
    form(action="#" method="POST")
        div(class="input-group" id="passwd-group")
            input(type="password" class="form-control" placeholder="Password" id="password" name="password")
            span(class="input-group-addon" id="passwd-span")
                i(class="fa fa-key fa-fw")
        div(class="input")
            input(type="submit" class="btn btn-success" value="Login")
