div()
    header
        nav(class="navbar navbar-default navbar-inverse navbar-fixed-top")
            div(class="container")
                ul(class="nav navbar-nav")
                    li
                        a(href="#/overview") Overview
                    li
                        a(href="#/users") Users management
                    li
                        a(href="#/domains") Domains management
                    li
                        a(href="#/logs") Logs
                    li(class="active")
                        a(href="#/aliases") Aliases
                    div(id="logout-button")
                        button(class="btn btn-danger" ng-click="logout();") Logout
    div(id="Aliases-list" class="list-group")
        h2 Aliases List
            div(class="list-group-item")
                span(href="#")
                button(class="btn btn-danger")
                    i(class="fa fa-trash")

    div(id="manage-btn-control")
        h2 Add an user
        div(id="errorAddingUser" ng-click="hideError();" class="alert alert-warning alert-dismissible" role="alert" style="display: none;")
            button(type="button" class="alert close" aria-label="Close")
                span(aria-hidden="true") &times;
            strong Warning!
            span(id="errorText")
        div(class="input-group" id="new-user-input")
            input(type="text" class="form-control" placeholder="Email")
        div(class="input-group" id="new-user-input")
            input(type="text" class="form-control" placeholder="Alias")
            
        div(class="input-group" id="password")
            input(type="password" class="form-control" placeholder="Password")
            span(class="input-group-addon")
                i(class="fa fa-key fa-fw")
        div(class="input-group" id="password-repeat")
            input(type="password" class="form-control" placeholder="Repeat Password")
            span(class="input-group-addon")
                i(class="fa fa-key fa-fw")
        button(class="btn btn-success" ng-click="createUser();") Add
      
