div(ng-controller="domainsController")
    header
        nav(class="navbar navbar-default navbar-inverse navbar-fixed-top")
            div(class="container")
                ul(class="nav navbar-nav")
                   li
                        a(href="#/overview") Overview
                    li
                        a(href="#/users") User management
                    li(class="active")
                        a(href="#/domains") Domains management
                    li
                        a(href="#/logs") Logs
                    div(id="logout-button")
                        button(class="btn btn-danger") Logout
    div(id="domains-list" class="list-group")
        h2 Domains list
        - for(var i = 0; i < domains.length; ++i){
            div(id!="domain-" + domains[i].id + "" class="list-group-item")
                span(href="#")= domains[i].name
                button(class="btn btn-danger" ng-click!="deleteDomain(" + domains[i].id + ")")
                    i(class="fa fa-trash")
        -}
        
    div(id="domains-btn-control")
        h2 Add a domain
        div(class="input-group" id="new-domain")
            input(type="text" class="form-control" placeholder="example.com")
            
        button(class="btn btn-success") Add

    script(src="../vendors/jquery.js")
    script(src="../vendors\bootstrap-3.3.5-dist\bootstrap-3.3.5-dist\js\bootstrap.min.js")
