div
    header
        nav(class="navbar navbar-default navbar-inverse navbar-fixed-top")
            div(class="container")
                ul(class="nav navbar-nav")
                    li
                        a(href="#/overview") Overview
                    li
                        a(href="#/users") User management
                    li(class="active")
                        a(href="#/logs") Logs
                    div(id="logout-button")
                        button(class="btn btn-primary") Refresh 
                        button(class="btn btn-danger" ng-click="logout();") Logout
                        
    div(class="panel panel-default" id="logs-list")

            div(class="panel-heading") Recents Logs
            table(class="table")
                thead
                    tr
                        th Time
                        th Message
                tbody
                    tr
                        td 13:30
                        td ça fonctionne pas sur windows
                    tr
                        td 13:31
                        td ta mere
                    tr
                        td 13:32
                        td vive linux xptdr
                    
        
    script(src="../vendors/jquery.js")
    script(src="../vendors\bootstrap-3.3.5-dist\bootstrap-3.3.5-dist\js\bootstrap.min.js")
