div
    header
        nav(class="navbar navbar-default navbar-inverse navbar-fixed-top")
            div(class="container")
                ul(class="nav navbar-nav")
                    li
                        a(href="#/overview") Overview
                    li
                        a(href="#/users") User management
                    li(class="active")
                        a(href="#/logs") Logs
                    div(id="logout-button")
                        button(class="btn btn-primary") Refresh 
                        button(class="btn btn-danger" ng-click="logout();") Logout
        
    script(src="../vendors/jquery.js")
    script(src="../vendors\bootstrap-3.3.5-dist\bootstrap-3.3.5-dist\js\bootstrap.min.js")
