h1(class="page-title") Overview
div(ng-controller="overviewController")
    div(class="manage-menu overview-container")
        h2 Postfix
        hr
        div(id="server-status-postfix")
            span Server Status
            span(id="status-postfix") &nbsp;OK
        div(id="option-selection" class="btn-group-lg")
            button(class="btn btn-success") Start
            button(class="btn btn-warning") Reboot
            button(class="btn btn-danger") Stop
            
    div(class="manage-menu overview-container")
        h2 Dovecot
        hr
        div(id="server-status-dovecot")
            span Server Status
            span(id="status-dovecot") &nbsp;OK
        div(id="option-selection" class="btn-group-lg")
            button(class="btn btn-success") Start
            button(class="btn btn-warning") Reboot
            button(class="btn btn-danger") Stop
