div(ng-controller="overviewController")
    header
        nav(class="navbar navbar-default navbar-inverse navbar-fixed-top")
            div(class="container")
                ul(class="nav navbar-nav")
                    li(class="active")
                        a(href="#/overview") Overview
                    li
                        a(href="#") User management
                    div(id="logout-button")
                        button(class="btn btn-primary" ng-click="refreshStatus();") Refresh 
                            i(id="refreshSpin" class="fa fa-refresh")
                        button(class="btn btn-danger" ng-click="logout();") Logout
    div(class="manage-menu overview-container")
        h2 Postfix
        hr
        div(id="server-status-postfix")
            span Server Status : 
            span(id="status-postfix")
        div(id="option-selection" class="btn-group-lg")
            button(class="btn btn-success" ng-click="sendCommand('start', 'postfix');") Start
            button(class="btn btn-warning" ng-click="sendCommand('reboot', 'postfix');") Reboot
            button(class="btn btn-danger" ng-click="sendCommand('stop', 'postfix');") Stop
            
    div(class="manage-menu overview-container")
        h2 Dovecot
        hr
        div(id="server-status-dovecot")
            span Server Status : 
            span(id="status-dovecot")
        div(id="option-selection" class="btn-group-lg")
            button(class="btn btn-success" ng-click="sendCommand('start', 'dovecot');") Start
            button(class="btn btn-warning" ng-click="sendCommand('reboot', 'dovecot');") Reboot
            button(class="btn btn-danger" ng-click="sendCommand('stop', 'dovecot');") Stop
