div(id="overview-container" class="manage-menu")
    h2 Postfix
    hr
    div(id="serveur-status")
        span Server Status
        span(id="status") OK
    div(id="option-selection" class="btn-group-lg")
        button(class="btn btn-success") Start
        button(class="btn btn-warning") Reboot
        button(class="btn btn-danger") Stop
        
div(id="overview-container" class="manage-menu")
    h2 Dovecot
    hr
    div(id="serveur-status")
        span Server Status
        span(id="status") OK
    div(id="option-selection" class="btn-group-lg")
        button(class="btn btn-success") Start
        button(class="btn btn-warning") Reboot
        button(class="btn btn-danger") Stop